.boxHeader {
    background-color: #000028;
    height: 80px;
    width: 100%;
    display: flex;
}

.logoSiemens {
    padding: 30px;
}

.letreroInicio {
    align-self: center;
    color: aliceblue;
    margin-left: 70%;
}

.letreroIdioma {
    align-self: center;
    color: aliceblue;
    margin-left: 10px;
}

/* barra degradado--------------------------- */
.degradado {
    width: 100%;
    height: 208px;
    background: linear-gradient(131.75deg, #00FEB7 6.46%, rgba(0, 230, 220, 0) 60.3%), #00E6DC;
    display: flex;
}

.question {
    color: #000028;
    padding: 0px 0px 0px 16px;
    font-size: 50px;
    font-weight: 500;
    width: 450px;
    padding-left: 60px;
    padding-top: 25px;
}

.img-banner {
    width: auto;
    height: 208px;
    padding-left: 25%;
}

/* body--------------------------- */
.vacantesEnSiemens {
    color: #333353;
    padding: 0px 0px 0px 16px;
    font-size: 32px;
    font-weight: 500;
    width: auto;
    padding-left: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.buscadores {
    display: flex;
}

.inputBuscar {
    border-color: #d9d9d9 #ccc #b3b3b3;
    border: 1px solid #ccc;
    cursor: default;
    width: 30%;
    color: #000;
    font-size: 14px;
    margin-left: 60px;
    height: 34px;
    padding: 0px 0px 0px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512' height='35px' id='Layer_1' version='1.1' viewBox='0 0 512 512' width='35px' xml:space='preserve'%3E%3Cg%3E%3Cellipse cx='223.2' cy='223.2' fill='none' rx='62.2' ry='62.2' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='10' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -92.4615 223.2219)'/%3E%3Cline fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='10' x1='267.2' x2='351' y1='267.2' y2='351'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
}

.inputUbicacion {
    border-color: #d9d9d9 #ccc #b3b3b3;
    border: 1px solid #ccc;
    cursor: default;
    width: 30%;
    color: #000;
    font-size: 14px;
    margin-left: 20px;
    height: 34px;
    padding: 0px 0px 0px 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 512 512' height='35px' id='Layer_1' version='1.1' viewBox='0 0 512 512' width='35px' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M306.7,165L306.7,165c-28-28-73.4-28-101.3,0l0,0c-22.3,22.3-27.4,56.6-12.6,84.4L256,367.9l63.2-118.5C334.1,221.6,329,187.4,306.7,165z M283.4,244L283.4,244c-15.2,15.2-39.7,15.2-54.9,0h0c-15.2-15.2-15.2-39.7,0-54.9l0,0c15.2-15.2,39.7-15.2,54.9,0l0,0C298.6,204.3,298.6,228.9,283.4,244z' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='10'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right center;
}

.go-button {
    color: #000028;
    font: 16px;
    font-weight: 700;
    background: #00FFB9;
    margin: 0px 10px 0px 0px;
    padding: 0px 10px;
    margin-left: 10px;
}